*
{
    padding: 0;
    margin: 0;
}
.wrap
{
    background: linear-gradient(90deg,#FFFFFF,#BEBEBE,#8E8E8E);
}
.banner
{
    width: 100%;
    height: 100vh;
}
.banner-txt
{
    text-align: center;
}